<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
  <testsuites>
    <testsuite name="Controller">
      <directory>tests/Controllers</directory>
    </testsuite>
    <testsuite name="Validators">
      <directory>tests/Validators</directory>
    </testsuite>
    <testsuite name="Encrypters">
      <directory>tests/Encryption</directory>
    </testsuite>
  </testsuites>
</phpunit>